<!-- htlm for thymeleaf -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello world</h1>
    <table>
        <tr>
            <th>Item</th>
            <th>Price</th>
            <th>End Date</th>
        </tr>
        <tr th:each="auction : ${auctions}">
            <td th:text="${auction.item}"></td>
            <td th:text="${auction.price}"></td>
            <td th:text="${auction.endDate}"></td>
        </tr>
    </table>

