<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bid Form</title>
</head>
<body>

<h2>Place a Bid</h2>

<!-- Add auctionId and userId as parameters in the form action -->
<form th:action="@{'/submitBid?auctionId=' + ${auction.auctionId} + '&userId=' + ${user.id}}" th:object="${bid}" method="post">

    <label for="bidAmount">Bid Amount:</label>
    <input type="number" id="bidAmount" th:field="*{bidAmount}"/>

    <button type="submit">Place Bid</button>
</form>

</body>
</html>
